{% extends "layout.html" %}

{% block content %}

<h2>{{response.title}}</h2>
<p>{{response.isbn}}</p>
<p>By:{{response.author}} in {{response.year}}</p>
{% if reviews %}
<ul>
    {% for review in reviews %}
    <li>{{ review.review_text }}</li>
    <li>{{ review.rating }}</li>
    <li>Reviewed by - {{ review.reviewer.username }}</li>
    {% endfor %}
</ul>
{% else %}
<h2>No Reviews on this book</h2>
{% endif %}
<hr>

<h2>Goodreads reviews</h2>
{% if goodreads_reviews %}
<ul>
        {% for review in goodreads_reviews %}
                <li>Average rating -- {{ review.average_rating }}</li>
                <li>Number of ratings -- {{ review.ratings_count }}</li>
        {% endfor %}
</ul>
{% endif %}



<div class="content-section">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Review Book</legend>
            <div class="form-group">
                {{form.review_text.label(class="form-control-label")}}

                {% if form.review_text.errors %}
                {{form.review_text(class="form-control form-control-lg is-invalid")}}

                <div class="invalid-feedback">
                    {% for error in form.review_text.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.review_text(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.rating.label(class="form-control-label")}}

                {% if form.rating.errors %}
                {{form.rating(class="form-control form-control-lg is-invalid")}}

                <div class="invalid-feedback">
                    {% for error in form.rating.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.rating(class="form-control form-control-lg")}}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>

    </form>
    <h2>{{ user_review }}</h2>
</div>




{% endblock %} <b></b>