{% extends "layout.html" %}

{% block content %}

<div class="center">
        <h3>{{response.title}}</h3>
        <p>{{response.isbn}}</p>
        <p>By:{{response.author}} in {{response.year}}</p>
</div>


<div class="row">
    <div class="col s4">
        <h4>Book reviews</h4>
        {% if reviews %}
        <ul class="list-group">
            {% for review in reviews %}
            <li class="list-group-item">comment: {{ review.review_text }} | By - {{ review.reviewer.username }}</li>
            <li class="list-group-item">Rating: {{ review.rating }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>No Reviews on this book</h2>
        {% endif %}
    </div>

    <hr>
    <div class="col s6">
        <h4>Goodreads reviews</h4>
        {% if goodreads_reviews %}
        <ul class="list-group">
            {% for review in goodreads_reviews %}
            <li class="list-group-item">Average rating -- {{ review.average_rating }}</li>
            <li class="list-group-item">Number of ratings -- {{ review.ratings_count }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>

</div>




<div class="content-section col s7">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Review Book</legend>
            <div class="form-group">
                {{form.review_text.label(class="form-control-label")}}

                {% if form.review_text.errors %}
                {{form.review_text(class="form-control form-control-lg is-invalid")}}

                <div class="invalid-feedback">
                    {% for error in form.review_text.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.review_text(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.rating.label(class="form-control-label")}}

                {% if form.rating.errors %}
                {{form.rating(class="form-control form-control-lg is-invalid")}}

                <div class="invalid-feedback">
                    {% for error in form.rating.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.rating(class="form-control form-control-lg")}}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>

    </form>
  
</div>




{% endblock %} <b></b>