{% extends "layout.html" %}

{% block content %}

<div class="row home" >
    <div class="col s4">
        <h3 class="head">Get your favorite book</h3>
        <img src="{{url_for('static', filename='images/books.jpg')}}" class='img'alt="">
       
    </div>

  <div class="col s10 register-form">
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                <div class="input-field">
                    {{form.username.label(class="form-control-label")}}
    
                    {% if form.username.errors %}
                    {{form.username(class="form-control form-control-lg is-invalid")}}
    
                    <div class="helper-text">
                        {% for error in form.username.errors %}
                        <span class="helper-text red-text" data-error="wrong" data-success="right">{{error}}</span>
                      
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.username(class="input-field")}}
                    {% endif %}
                </div>
    
                <div class="input-field">
                    {{form.email.label(class="form-control-label")}}
    
                    {% if form.email.errors %}
                    {{form.email(class="form-control form-control-lg is-invalid")}}
    
                    <div class="helper=text">
                        {% for error in form.email.errors %}
                        <span class="helper-text red-text" data-error="wrong" data-success="right">{{error}}</span>
                      
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.email(class="input-field")}}
                    {% endif %}
    
                </div>
                <div class="input-field">
                    {{form.password.label(class="form-control-label")}}
    
                    {% if form.password.errors %}
                    {{form.password(class="form-control form-control-lg is-invalid")}}
    
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span class="helper-text red-text" data-error="wrong" data-success="right">{{error}}</span>
                      
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.password(class="input-field")}}
                    {% endif %}
    
                   
                </div>
    
                <div class="input-field">
                        {{form.confirm_password.label(class="form-control-label")}}
    
                        {% if form.confirm_password.errors %}
                        {{form.confirm_password(class="form-control form-control-lg is-invalid")}}
        
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span class="helper-text red-text" data-error="wrong" data-success="right">{{error}}</span>
                      
                            {% endfor %}
                        </div>
                        {% else %}
                        {{form.confirm_password(class="input-field col s12")}}
                        {% endif %}
    
                       
                </div>
    
            </fieldset>
    
            <div class="input-field">
                {{form.submit(class="btn btn-success")}}
            </div>
    
        </form>
    </div>
    
    <div class="border-top pt-3">
        <small class="text-muted login-link">
            Already Have An Account? <a href="{{url_for('login')}}" class="ml-2 login-link">login</a>
        </small>
    </div>
  </div>
<!-- 
<p><a href="{{url_for('login')}}">click to login</a></p> -->
{% endblock %} <b>44</b>