body{
  background-color: #fff;
}
nav{
  top:0 !important;
  background-color:#bf360c;
}

a:hover{
  text-decoration: none;
  color:#ddd;
}
.img{
  margin-top:10%;
  width: 80%;
  height: 90%;
}
.head{
  top:10%;
}
.home{
  padding:20px;
}

.page-footer{
  margin-top: 10%;
  background-color: #bf360c;
}
#copyright{
  text-align: center;

}
.book-link:hover{
color: #05f;
}
.book-link{
  padding: 20px;
  width: 50px;

}
td{
  background-color: #eee;
}

.register-form{
  background-color:#eee;
  border-radius:6px;
  margin-top:5%;
}
.login-link{
  font-size: 10px;
} 

.input-field{
  color:#000;
  font-size: 22px;
}
/* .my-login{
  margin-top:40%;
  margin-right: 30%;
} */

.sub-link:hover{
color:#01f;
}