body{
  background-color: #fff;
}
nav{
  top:0 !important;
  background-color:#bf360c;
}

a:hover{
  text-decoration: none;
  color:#ddd;
}
.img{
  margin-top:10%;
  width: 80%;
  height: 90%;
}
.head{
  top:10%;
}
.home{
  padding:20px;
}

.page-footer{
  margin-top: 10%;
  background-color: #bf360c;
}
#copyright{
  text-align: center;

}
.book-link:hover{
color: #05f;
}

.register-form{
  background-color:#e8eaf6;
  margin-top:5%;
}
.login-link{
  font-size: 16px;
}

.input-field{
  color:#000;
  font-size: 22px;
}